In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

#지수표현식사용X
pd.options.display.float_format = '{:.1f}'.format 

files = pd.read_csv('기업정보_공모전.txt',encoding='CP949',delimiter = '|')
company_info=files.copy()

In [2]:
company_info.head()

,기준연월,시도,시군구,법정동,기업공개,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,업력구간,대표자성별,대표자연령구간,기업수,총매출액_천원,평균매출액_천원,총종업원수,평균종업원수
0,20181231,강원,강릉시,교동,외감,I,I55,숙박 및 음식점업,숙박업,소기업,2년이상 5년미만,남,50대,1,657422.0,657422.0,11.0,11.0
1,20181231,강원,강릉시,교동,외감,L,L68,부동산업,부동산업,소기업,2년이상 5년미만,남,60대,1,nan,nan,10.0,10.0
2,20181231,강원,강릉시,교동,외감,F,F41,건설업,종합 건설업,소기업,2년이상 5년미만,녀,50대,1,1109091.0,1109091.0,10.0,10.0
3,20181231,강원,강릉시,교동,외감,F,F41,건설업,종합 건설업,중기업,20년이상 30년미만,남,50대,1,21313582.0,21313582.0,28.0,28.0
4,20181231,강원,강릉시,교동,외감,I,I55,숙박 및 음식점업,숙박업,중기업,1년미만,남,50대,1,964599.0,964599.0,nan,nan

In [3]:
#결측치 확인

company_info.isnull().sum()

기준연월              0
시도                0
시군구           11673
법정동               0
기업공개              0
업종대분류코드        1521
업종중분류코드        1521
업종대분류명         1521
업종중분류명         1521
기업규모              0
업력구간              0
대표자성별             0
대표자연령구간           0
기업수               0
총매출액_천원     1285424
평균매출액_천원    1285424
총종업원수       1238232
평균종업원수      1238232
dtype: int64

In [4]:
#DATETIME 변형

company_info['datetime'] =company_info['기준연월'].apply(lambda x: pd.to_datetime(str(x), format='%Y/%m/%d'))
# DataFrame의 index 변형하기
company_info.set_index('datetime', inplace=True) 
# year 컬럼 생성
company_info['year']=company_info.index.year
company_info.reset_index()

,datetime,기준연월,시도,시군구,법정동,기업공개,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,업력구간,대표자성별,대표자연령구간,기업수,총매출액_천원,평균매출액_천원,총종업원수,평균종업원수,year
0,2018-12-31,20181231,강원,강릉시,교동,외감,I,I55,숙박 및 음식점업,숙박업,소기업,2년이상 5년미만,남,50대,1,657422.0,657422.0,11.0,11.0,2018
1,2018-12-31,20181231,강원,강릉시,교동,외감,L,L68,부동산업,부동산업,소기업,2년이상 5년미만,남,60대,1,nan,nan,10.0,10.0,2018
2,2018-12-31,20181231,강원,강릉시,교동,외감,F,F41,건설업,종합 건설업,소기업,2년이상 5년미만,녀,50대,1,1109091.0,1109091.0,10.0,10.0,2018
3,2018-12-31,20181231,강원,강릉시,교동,외감,F,F41,건설업,종합 건설업,중기업,20년이상 30년미만,남,50대,1,21313582.0,21313582.0,28.0,28.0,2018
4,2018-12-31,20181231,강원,강릉시,교동,외감,I,I55,숙박 및 음식점업,숙박업,중기업,1년미만,남,50대,1,964599.0,964599.0,nan,nan,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035656,2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,F,F42,건설업,전문직별 공사업,소기업,2년이상 5년미만,녀,60대,1,nan,nan,6.0,6.0,2020
2035657,2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,F,F42,건설업,전문직별 공사업,소기업,5년이상 10년미만,녀,50대,2,nan,nan,nan,nan,2020
2035658,2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,G,G46,도매 및 소매업,도매 및 상품 중개업,소기업,5년이상 10년미만,녀,20대,1,nan,nan,nan,nan,2020
2035659,2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,M,M72,"전문, 과학 및 기술 서비스업","건축기술, 엔지니어링 및 기타 과학기술 서비스업",소기업,10년이상 20년미만,녀,50대,1,nan,nan,nan,nan,2020
2035660,2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,M,M73,"전문, 과학 및 기술 서비스업","기타 전문, 과학 및 기술 서비스업",중기업,1년이상 2년미만,남,60대,1,3273690.0,3273690.0,24.0,24.0,2020

In [5]:
#연령구간 카테고리 확인
np.unique(company_info['대표자연령구간'])

array(['10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대',
       '정보없음'], dtype=object)

In [6]:
company_info['대표자연령구간'].value_counts()

50대     660453
40대     494024
60대     431835
30대     212747
70대     123303
20대      50573
정보없음     29324
80대      28903
90대       4008
10대        491
Name: 대표자연령구간, dtype: int64

In [7]:
company_info_age = {'10대':10, '20대':20, '30대':30, '40대':40, '50대':50, '60대':60, '70대':70, '80대':80, '90대':90,'정보없음':np.NaN}
company_info['연령대정수'] = company_info['대표자연령구간'].map(company_info_age)
company_info.head()

,기준연월,시도,시군구,법정동,기업공개,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,업력구간,대표자성별,대표자연령구간,기업수,총매출액_천원,평균매출액_천원,총종업원수,평균종업원수,year,연령대정수
datetime,,,,,,,,,,,,,,,,,,,,
2018-12-31,20181231,강원,강릉시,교동,외감,I,I55,숙박 및 음식점업,숙박업,소기업,2년이상 5년미만,남,50대,1,657422.0,657422.0,11.0,11.0,2018,50.0
2018-12-31,20181231,강원,강릉시,교동,외감,L,L68,부동산업,부동산업,소기업,2년이상 5년미만,남,60대,1,nan,nan,10.0,10.0,2018,60.0
2018-12-31,20181231,강원,강릉시,교동,외감,F,F41,건설업,종합 건설업,소기업,2년이상 5년미만,녀,50대,1,1109091.0,1109091.0,10.0,10.0,2018,50.0
2018-12-31,20181231,강원,강릉시,교동,외감,F,F41,건설업,종합 건설업,중기업,20년이상 30년미만,남,50대,1,21313582.0,21313582.0,28.0,28.0,2018,50.0
2018-12-31,20181231,강원,강릉시,교동,외감,I,I55,숙박 및 음식점업,숙박업,중기업,1년미만,남,50대,1,964599.0,964599.0,nan,nan,2018,50.0

In [8]:
#20~40대 각 연령 추출

기업정보_20대=company_info.query('대표자연령구간=="20대"')
기업정보_30대=company_info.query('대표자연령구간=="30대"')
기업정보_40대=company_info.query('대표자연령구간=="40대"')
기업정보_50대=company_info.query('대표자연령구간=="50대"')

# 1. 지역 별 20대~30대 기업규모 
#### 추가) 지역 별 기업분포 (연령구분x)

In [9]:
#기업규모 카테고리 확인
np.unique(company_info['기업규모'])

array(['대기업', '미분류', '소기업', '중견기업', '중기업', '판단제외'], dtype=object)

In [10]:
company_info.query('기업규모=="미분류"')

,기준연월,시도,시군구,법정동,기업공개,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,업력구간,대표자성별,대표자연령구간,기업수,총매출액_천원,평균매출액_천원,총종업원수,평균종업원수,year,연령대정수
datetime,,,,,,,,,,,,,,,,,,,,
2018-12-31,20181231,강원,강릉시,교동,일반법인,A,A01,"농업, 임업 및 어업",농업,미분류,2년이상 5년미만,남,40대,1,nan,nan,nan,nan,2018,40.0
2018-12-31,20181231,강원,강릉시,교동,일반법인,A,A01,"농업, 임업 및 어업",농업,미분류,2년이상 5년미만,남,50대,1,nan,nan,nan,nan,2018,50.0
2018-12-31,20181231,강원,강릉시,교동,일반법인,A,A01,"농업, 임업 및 어업",농업,미분류,5년이상 10년미만,남,60대,1,nan,nan,nan,nan,2018,60.0
2018-12-31,20181231,강원,강릉시,교동,일반법인,A,A02,"농업, 임업 및 어업",임업,미분류,10년이상 20년미만,남,50대,2,nan,nan,nan,nan,2018,50.0
2018-12-31,20181231,강원,강릉시,교동,일반법인,B,B07,광업,비금속광물 광업; 연료용 제외,미분류,2년이상 5년미만,남,40대,1,nan,nan,nan,nan,2018,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,L,L68,부동산업,부동산업,미분류,2년이상 5년미만,남,50대,1,nan,nan,nan,nan,2020,50.0
2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,L,L68,부동산업,부동산업,미분류,2년이상 5년미만,남,60대,1,nan,nan,nan,nan,2020,60.0
2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,R,R91,"예술, 스포츠 및 여가관련 서비스업",스포츠 및 오락관련 서비스업,미분류,2년이상 5년미만,남,60대,1,nan,nan,nan,nan,2020,60.0
2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,D,D35,"전기, 가스, 증기 및 공기조절 공급업","전기, 가스, 증기 및 공기조절 공급업",미분류,2년이상 5년미만,녀,60대,1,nan,nan,nan,nan,2020,60.0
2020-12-31,20201231,충북,청주시흥덕구,휴암동,일반법인,C,C10,제조업,식료품 제조업,미분류,1년미만,미분류,40대,1,nan,nan,nan,nan,2020,40.0

In [11]:
company_info.query('기업규모=="판단제외"')

,기준연월,시도,시군구,법정동,기업공개,업종대분류코드,업종중분류코드,업종대분류명,업종중분류명,기업규모,업력구간,대표자성별,대표자연령구간,기업수,총매출액_천원,평균매출액_천원,총종업원수,평균종업원수,year,연령대정수
datetime,,,,,,,,,,,,,,,,,,,,
2018-12-31,20181231,강원,강릉시,사천면,일반법인,C,C10,제조업,식료품 제조업,판단제외,10년이상 20년미만,남,70대,1,nan,nan,nan,nan,2018,70.0
2018-12-31,20181231,강원,강릉시,송정동,일반법인,K,K64,금융 및 보험업,금융업,판단제외,30년이상 40년미만,남,60대,1,962633.0,962633.0,4.0,4.0,2018,60.0
2018-12-31,20181231,강원,강릉시,옥천동,일반법인,A,A02,"농업, 임업 및 어업",임업,판단제외,50년이상 60년미만,남,50대,1,5280080.0,5280080.0,14.0,14.0,2018,50.0
2018-12-31,20181231,강원,강릉시,옥천동,일반법인,Q,Q86,보건업 및 사회복지 서비스업,보건업,판단제외,10년이상 20년미만,남,40대,1,6429205.0,6429205.0,nan,nan,2018,40.0
2018-12-31,20181231,강원,강릉시,옥천동,일반법인,S,S94,"협회 및 단체, 수리 및 기타 개인 서비스업",협회 및 단체,판단제외,1년이상 2년미만,남,60대,1,nan,nan,nan,nan,2018,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,20201231,충북,청주시흥덕구,오송읍,일반법인,S,S94,"협회 및 단체, 수리 및 기타 개인 서비스업",협회 및 단체,판단제외,2년이상 5년미만,녀,60대,1,nan,nan,nan,nan,2020,60.0
2020-12-31,20201231,충북,청주시흥덕구,옥산면,일반법인,Q,Q87,보건업 및 사회복지 서비스업,사회복지 서비스업,판단제외,10년이상 20년미만,남,50대,1,nan,nan,nan,nan,2020,50.0
2020-12-31,20201231,충북,청주시흥덕구,운천동,일반법인,P,P85,교육 서비스업,교육 서비스업,판단제외,5년이상 10년미만,남,40대,1,nan,nan,nan,nan,2020,40.0
2020-12-31,20201231,충북,청주시흥덕구,운천동,일반법인,Q,Q87,보건업 및 사회복지 서비스업,사회복지 서비스업,판단제외,5년이상 10년미만,남,50대,1,nan,nan,nan,nan,2020,50.0
2020-12-31,20201231,충북,청주시흥덕구,운천동,일반법인,Q,Q86,보건업 및 사회복지 서비스업,보건업,판단제외,10년이상 20년미만,녀,70대,1,nan,nan,40.0,40.0,2020,70.0

In [12]:
#20대30대 추출(매출액 null값 존재)
company_size_youth=pd.concat([기업정보_20대,기업정보_30대],axis=0)
#print(company_size_youth.head())

# 20대30대 추출(매출액 null값 존재)데이터에서 기업규모 '미분류','판단제외' 추출
company_size_excp=company_size_youth[(company_size_youth['기업규모']=='미분류')|(company_size_youth['기업규모']=='판단제외')].index
#print(company_size_excp)쿼리문으로 실제값 검증 완료 (101822)

In [13]:
company_size_excp

DatetimeIndex(['2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31', '2018-12-31', '2018-12-31',
               '2018-12-31', '2018-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='datetime', length=101822, freq=None)

In [14]:
#20대30대 추출(매출액 null값 존재)데이터에서 기업규모'미분류', '판단제외' 제거
company_size_youth=company_size_youth.drop(company_size_excp)
company_size_youth.head()

KeyboardInterrupt:

In [ ]:
company_size_youth.query('기업규모=="판단제외"')

In [ ]:
company_size_youth.query('기업규모=="미분류"')

In [ ]:
# 시도 별 20~30대 기업규모 분포
company_size_youth_local=company_size_youth.groupby(['시도','기업규모'])['기업규모'].count()
company_size_youth_local=pd.DataFrame(company_size_youth_local)
company_size_youth_local

In [ ]:
## 추가 지역 별 기업규모 분포
# 미분류,판단제외 삭제 후 진행!!!!!

# 2. 20~30대 시도 별 매출액 평균

In [ ]:
# 매출액 null값 행 삭제 

매출액_20대=기업정보_20대.dropna(subset=['총매출액_천원','평균매출액_천원'])
매출액_30대=기업정보_30대.dropna(subset=['총매출액_천원','평균매출액_천원'])
매출액_40대=기업정보_40대.dropna(subset=['총매출액_천원','평균매출액_천원'])
매출액_50대=기업정보_50대.dropna(subset=['총매출액_천원','평균매출액_천원'])

# 20대 30대 추출(매출액 null값 없음)
company_sales_youth=pd.concat([매출액_20대,매출액_30대],axis=0)
company_sales_youth.head()

# 40대 50대 추출(매출액 null값 없음)
#company_sales_middle=pd.concat([매출액_40대,매출액_50대],axis=0)
#company_sales_middle.head()

In [ ]:
company_sales_youth['업종중분류명'].

In [ ]:
# 기업수 카운팅
company_count_youth=company_sales_youth.groupby(['시도'])['총매출액_천원'].count()
company_count_youth=pd.DataFrame(company_count_youth)
company_count_youth.columns=['기업수']
company_count_youth

In [ ]:
# 20~30대 시도 별 총 매출액 평균
company_sales_youth_local=company_sales_youth.groupby(['시도'])['총매출액_천원'].mean()
company_sales_youth_local=pd.DataFrame(company_sales_youth_local)
company_sales_youth_local

In [ ]:
# 20~30대 기업수와 시도 별 총 매출액 평균 합치기
company_sales_2030 = pd.concat([company_count_youth,company_sales_youth_local],axis=1, join='inner') 
company_sales_2030

In [ ]:
# 20~30대 시도 별 총 매출액 평균 순위
company_sales_2030.sort_values(by='총매출액_천원',ascending=False)

# 3. 20~30대 시도-업종 별 매출액 평균(3개년)

In [ ]:
# 중분류 확인
company_sales_youth['업종중분류명'].value_counts()

In [ ]:
# 20대~30대 시도-업종 별 매출액 평균(3개년)
company_sales_youth_kind=company_sales_youth.groupby(['시도','업종중분류명'])['총매출액_천원'].mean()
company_sales_youth_kind=pd.DataFrame(company_sales_youth_kind)
company_sales_youth_kind

# 4. 20~30대 시도-업종 별 매출액 평균(1개년씩)

In [ ]:
# 20대~30대 시도-업종 별 매출액 평균(1개년씩)
company_sales_youth_kind_year=company_sales_youth.groupby(['year','시도','업종중분류명'])['총매출액_천원'].mean()
company_sales_youth_kind_year=pd.DataFrame(company_sales_youth_kind_year)
company_sales_youth_kind_year

In [ ]:
#20대~30대 시도-업종 별 매출액 평균 (년도별로 자세히 보기)
company_sales_youth_kind_year.loc[2018].sort_values(by='총매출액_천원',ascending=False)
company_sales_youth_kind_year.loc[2019].sort_values(by='총매출액_천원',ascending=False)
company_sales_youth_kind_year.loc[2020].sort_values(by='총매출액_천원',ascending=False)

In [ ]:
#20대~30대 시도-업종 별 매출액 평균 (시도별로 자세히 보기) ##for 문????
sido=np.unique(company_sales_youth['시도'])
sido

# 5. 업종구간 활용방안 생각